.btn {
    font-size: calc(20px);
    font-weight: 800;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: black;
    transition: 0.75s
}


.btn-active {
    font-size: calc(20px);
    font-weight: 800;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: rgb(255, 186, 143);
}